.container {
  width: 1000px;
  margin: 20px auto;
}

.center {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.submissionForm input {
  margin-left: 0px;
  padding: 4px;
  width: 100%;
  display: block;
}

.submissionForm {
  margin-left: 0px;
  padding: 4px;
  width: 100%;
  display: block;
}

.regularButton {
  margin-left: 4px;
  margin: 4px
}

.boldText {
  font-weight: bold;
  color: #607469;
}

.oneListItem {
  list-style: none;
  font-size: .8rem;
  padding: 10px;
}
.liteText {
  list-style: none;
  font-size: .8rem;
  background-color: #f2ffff;
}

.tableRow {
  margin-left: -40px;
  margin-top: 6px;
  margin-bottom: 4px;
}

.fontAwesomeIcon {
  font-size: .8rem;
  color: #007bff;
}

.fontAwesomeIcon:hover {
  color:black;
}

.fontAwesomeIconRight1 {
  display: flex;
  position: absolute;
  right: 30px;
  margin-top: -19px;
  color: #AF5B5B;
}

.fontAwesomeIconRight2 {
  display: flex;
  position: absolute;
  right: 60px;
  margin-top: -19px;
  color: #AF5B5B;
}

.fontAwesomeIconRight3 {
  display: flex;
  position: absolute;
  right: 120px;
  margin-top: -19px;
  color: #AF5B5B;
}
.fontAwesomeIconRight4 {
  display: flex;
  position: absolute;
  right: 90px;
  margin-top: -19px;
  color: #AF5B5B;
}

.line {
  display: inline-block;
}
.lastLine{
  margin-right: 150px
}

/* adding for responsive  */

[class*="col-"] {
  width: 100%;
}

.heroSlide1 {
  background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080');
}
.heroSlide2 {
  background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');
}
.heroSlide3 {
  background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}